.header-container {
  width: 100%;
  height: 40px;
  background-color: #EBEBEB;
  color: #616161;
  font-size: 12px;
}

.header-container i {
  color: #FC9732;
}

.header-container ul {
  margin-top: 10px;
}

.header-container ul li:not(:last-child) {
  padding-right: 10px;
}

.info-container {
  float: left;
}

.social-container {
  float: right;
  text-align: right;
}

.social-container a {
  color: #616161;
}

@media (max-width:950px) {
  .header-container {
    display: none;
  }
}

.menu-container {
  width: 100%;
  background-color: #FFF;
  color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #EBEBEB;
}

/********************* OVERLAY NAV STYLES ********************/

/* The Overlay (background) */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999999;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
}

.overlay-nav-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px; /* margin to avoid conflict with the close button on smaller screens */
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #FFF;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay a:hover, .overlay a:focus {
    color: #FC9732;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

#menu-btn {
  z-index: 900;
  cursor: pointer;
  width: 80px;
  height: 80px;
}
  
#menu-btn i {
    color: #000;
    font-size: 50px;
}

@media (max-width: 650px) {
  #menu-btn i {
    font-size: 35px;
  }
}

#menu-btn i:hover {
    color: #FC9732;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}
